
@{
    ViewBag.Title = "Index";
}
<html>
    <head>
    </head>
    <body>
        <h2>員工資料查詢</h2>
        <table>
            <tr>
                <td>員工編號</td>
                <td></td>
            </tr>
            <tr>
                <td>員工姓名</td>
                <td></td>
            </tr>
            <tr>
                <td>職稱</td>
                <td></td>
            </tr>
            <tr>
                <td>任職日期</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <p></p>

        <h2>查詢結果</h2>
        <table>
            <tr>
                <td>編號</td>
                <td></td>
            </tr>
            <tr>
                <td>姓名</td>
                <td></td>
            </tr>
            <tr>
                <td>職稱</td>
                <td></td>
            </tr>
            <tr>
                <td>任職日期</td>
                <td></td>
            </tr>
        </table>

        <h2>員工資料查詢</h2>
        <table>
            <tr>
                <td>員工編號</td>
                <td>員工姓名</td>
                <td>職稱</td>
                <td>任職日期</td>
                <td>性別</td>
                <td>年齡</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </body>
</html>




